body {
    margin: 0;
    padding: 0;
    background-color: #1d1a45; /* COLOR FONDO */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 150vh; /* Establece la altura al 100% del viewport */
    overflow-x: scroll; /* Permite el desplazamiento vertical */
    scroll-snap-type: x proximity; /* Habilita el scroll snap vertical */
}

li {
    width: 100%;
    max-width: 800px; /* ANCHO MAXIMO */
    margin: 10px;
    flex: 0 0 auto; /* Evita que los elementos se estiren */
    scroll-snap-align: start; /* Alinea el inicio de cada li con el contenedor */
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* ROUND BORDER */
}