body {
    margin: 0;
    padding: 0;
    background-color: #1d1a45;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

li {
    width: 100%;
    max-width: 800px; /* ANCHO MAXIMO */
    margin: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* ROUND BORDER */
}
