body {
    margin: 0;
    padding: 0;
    background-color: #1d1a45; /* COLOR FONDO */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambia a dirección vertical */
    height: 100vh; /* Establece la altura al 100% del viewport */
    overflow-y: scroll; /* Permite el desplazamiento vertical */
    scroll-snap-type: y mandatory; /* Habilita el scroll snap vertical */
}

li {
    width: 100%;
    max-width: 800px; /* ANCHO MAXIMO */
    margin: 20px 0; /* Ajusta el margen superior e inferior para crear espacio */
    flex: 0 0 auto; /* Evita que los elementos se estiren */
    scroll-snap-align: start; /* Alinea el inicio de cada li con el contenedor */
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* ROUND BORDER */
}
